body{
    background-color: purple;
}
h1{
    background-color: green;
    color: black;
    padding: 10px 10px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 400;
    font-size: 50px;
    margin: 0;
}  
{

}
#p1word {
    color: black;
    padding: 2px 2px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 10;
    font-size: 10px;
    margin: 0;
    align-content: center;

}
::placeholder {
    color:red;
    font-family: "Raleway", sans-serif;
}

#p2word {
    color: black;
    padding: 2px 2px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 10;
    font-size: 10px;
    margin: 0;
    align-content: center;

}
#textarea{
    color: black;
    padding: 2px 2px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 10;
    font-size: 10px;
    margin: 0;
    align-content: center;
}
label{
    color: black;
    padding: 2px 2px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 10;
    font-size: 20px;
    margin: 0;
    align-content: center;
}
save-button1 {
    color: red;
    padding: 2px 4px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 10;
    font-size: 10px;
    margin: 0;
    align-content: center;

}
save-button2 {
    color: red;
    padding: 2px 4px;
    font-family: "Raleway", sans-serif;
    letter-spacing: 1px;
    font-weight: 10;
    font-size: 10px;
    margin: 0;
    align-content: center;

}